@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #197fe6;
  --background-light: #f6f7f8;
}

body {
  font-family: 'Public Sans', sans-serif;
  @apply bg-[#f6f7f8] text-[#0e141b] antialiased;
}

.form-card-shadow {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.05);
}